<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>
<head>
	<meta charset="utf-8">
	<title>Acitivity List</title>
	<meta name="viewport" content="width=device-width,minimum-scale=1">
	<link rel="stylesheet" th:href="@{/public/amazeui/css/amazeui.min.css}" />
	<link rel="stylesheet" th:href="@{/public/amazeui/css/admin.css}">

	<script type="text/javascript" th:src="@{/public/js/jquery-3.4.1.js}"></script>
	<script type="text/javascript" th:src="@{/public/js/fusioncharts.js}"></script>
	<script type="text/javascript" th:src="@{/public/js/jquery-fusioncharts.js}"></script>
	<script type="text/javascript" th:src="@{/public/js/themes/fusioncharts.theme.fusion.js}"></script>

	<script th:src="@{/public/amazeui/js/amazeui.min.js}"></script>
	<script th:src="@{/public/amazeui/js/app.js}"></script>
</head>
<body>
	<div th:replace="navigator"></div>

  <div id="chart-container" style="overflow-x:auto">Activity chart is loading!</div>
</body>



<script>
$( function() {

	// Initialize the roles.
	// The objects has default values of 0 of any input of keys.
	var BA = new Proxy({}, {
		get: function(object, property) {
			return object.hasOwnProperty(property) ? object[property] : 0;
		}
	});
	var PM = new Proxy({}, {
		get: function(object, property) {
			return object.hasOwnProperty(property) ? object[property] : 0;
		}
	});
	var DEV = new Proxy({}, {
		get: function(object, property) {
			return object.hasOwnProperty(property) ? object[property] : 0;
		}
	});
	var ARCH = new Proxy({}, {
		get: function(object, property) {
			return object.hasOwnProperty(property) ? object[property] : 0;
		}
	});
	// BA['RCM'] += 1;
	// alert("This is defaultdict " + BA['RCM']);

	$.ajax({
		type: "GET",
		dataType: "json",
		url: '/activity/role',
		// data: $('#addPlanForm').serialize(),
		success: function (data) {
			console.log(data.status);
			console.log(data.data);

			var RoleLst = JSON.parse(data.data);
			console.log("Type of data.RoleLst=======" + typeof (RoleLst));

			RoleLst.forEach(function(individual){
				// Individual's parameters are in ActivityController
				// Increase the amount of effort according to the data.
				// alert("Test the loop data. Name" + individual.name);
				var PJname = individual.name;
				switch (individual.role) {
					case "BA":
						BA[PJname] += individual.effort;
						break;

					case "PM":
						PM[PJname] += individual.effort;
						break;

					case "DEV":
						DEV[PJname] += individual.effort;
						break;

					case "ARCH":
						ARCH[PJname] += individual.effort;
				}

			})
		},
		error: function(data) {
			alert("error:"+data.responseText);
		}
	});
	console.log("BA in PJO1(RCM) ==========" + BA.PJO1);


	// FusionChart data
	var CategoryLst = [
		{
			label: "RCM"
		},
		{
			label: "BCP"
		},
		{
			label: "i-Service"
		},
		{
			label: "BCMS"
		},
		{
			label: "Liferay Migration"
		},
		{
			label: "CIAM"
		}
	];
	$("#chart-container").insertFusionCharts({
			type: "marimekko",
			width: "100%",
			height: "100%",
			dataFormat: "json",
			dataSource: {
				chart: {
					caption: "Summary of All roles and efforts",
					subcaption: "For DAD",
					numbersuffix: "%",
					showsum: "1",
					usepercentdistribution: "1",
					showxaxispercentvalues: "0",
					theme: "fusion",
					drawcrossline: "0",
					showvalues: "0"
				},
				categories: [
					{
						category: CategoryLst
					}
				],
				// Should also change the PJOs to the actual project categories.
				dataset: [
					{
						seriesname: "BA",
						color: "#149868",
						data: [
							{
								value: BA.PJO1
							},
							{
								value: BA.PJO2
							},
							{
								value: BA.PJO3
							},
							{
								value: BA.PJO5
							},
							{
								value: BA.PJO7
							},
							{
								value: BA.PJO8
							}
						]
					},
					{
						seriesname: "PM",
						color: "#E7BC4F",
						data: [
							{
								value: PM.PJO1
							},
							{
								value: PM.PJO2
							},
							{
								value: PM.PJO3
							},
							{
								value: PM.PJO5
							},
							{
								value: PM.PJO7
							},
							{
								value: PM.PJO8
							}
						]
					},
					{
						seriesname: "DEVELOPMENT",
						color: "#CE9B1C",
						showvalues: "0",
						data: [
							{
								value: DEV.PJO1
							},
							{
								value: DEV.PJO2
							},
							{
								value: DEV.PJO3
							},
							{
								value: DEV.PJO5
							},
							{
								value: DEV.PJO7
							},
							{
								value: DEV.PJO8
							}
						]
					},
					{
						seriesname: "Architect",
						color: "#EA9999",
						data: [
							{
								value: ARCH.PJO1
								// showvalue: "0"
							},
							{
								value: ARCH.PJO2
							},
							{
								value: ARCH.PJO3
							},
							{
								value: ARCH.PJO5
							},
							{
								value: ARCH.PJO7
							},
							{
								value: ARCH.PJO8
							}
						]
					}
				]
			}
		});
} );
</script>
</html>